apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbackrest-config
  namespace: infra
  labels:
    app: postgres
    component: backup
    managed-by: gitops
data:
  pgbackrest.conf: |
    [global]
    repo1-path=/pgbackrest/repo
    repo1-retention-full=4
    repo1-retention-diff=2

    log-level-console=info
    log-level-file=debug
    log-path=/var/log/pgbackrest

    start-fast=y
    delta=y

    [postgres]
    pg1-path=/var/lib/postgresql/data/pgdata
    pg1-port=5432
    pg1-socket-path=/var/run/postgresql
