apiVersion: v1
kind: Service
metadata:
  name: ljwx-bookstore
  labels:
    app: ljwx-bookstore
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: ljwx-bookstore
